body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
#login_top{
    width: 990px;
    height: 80px;
    margin: 0 auto;
}
#login_top>a{
    position: relative;
    top: 52px;
    color: #999;
    font-size: 14px;
    font-family: "microsoft yahei";
    float: right;
}
#login_top>a:hover{
    color: #e4393c
}
#login_top>a>img{
    position: relative;
    top: 3px;
    margin-right: 5px;
}
#logo_w{
    float: left;
    width: 300px;
    margin: 10px 0;
}
#logo_w img{
    vertical-align: middle;

}
#logo_w span{
    font-size: 24px;
    color: #3B3B3B;
    vertical-align: middle;
    margin-left:29px;
}
#login_middle{
    width:100%;
    height: 475px;
    margin: 0 auto;
    background-color: #F2F2F2;
    margin-bottom: 20px;
}
.ct{
    width: 990px;
    margin: 0 auto;
}
#bg{
    height: 475px;
    background-image: url("../img/img_login/login_a.jpg");
}
.logo_from{
    width: 346px;
    /*height: 361px;*/
    float: right;
    position: relative;
    top: 40px;
    background-color: #fff;
}
.logo_from_top{
    width: 173px;
    height: 55px;
    float: left;
    border-bottom: 1px solid #f4f4f4;

}
.logo_from_a{
    display:inline-block;
    font-size: 22px;
    color: #676767;
    text-align: center;
    position: relative;
    top: 12px;
}
.logo_from_top_l>a{
    width: 99%;
    border-right: 1px solid #f4f4f4;
}
.logo_from_top_r>a{
    width: 100%;
}
.logo_from_a:hover{
    font-weight: 700;
    color: #e4393c
}
#login_bottom{
    width: 990px;
    margin: 0 auto;
}
.logo_from_bottom{
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    border-top: 1px solid #f4f4f4;
    height: auto;
    background-color: #fcfcfc;
}
.logo_from_bottom ul{
    margin: 0;
    padding: 0;
}
.logo_from_bottom a{
    font-size: 13px;
    color: #676767;
}
.logo_from_bottom ul li{
    list-style: none;
    float: left;
}
.line{
    float: left;
    color: #ccc;
    margin: 0 10px;
}
.logo_from_bottom ul li img{
    position: relative;
    top: 3px;
    width: 20px;
    margin-right: 5px;
}
.logo_from_bottom ul li:last-child{
    float: right;
}
.logo_from_bottom ul li:last-child img{
    width: 25px;
    top: 9px;
}
.logo_from_bottom ul li:last-child a{
    color: #e4393c;
    font-size: 16px;
}
#qq{
    border-radius: 10px;
}
.cleanfix:after{
    display: block;
    content: '';
    clear: both;
}
.icon{
    background-image: url("../img/img_login/pwd-icons-new.png");
    display: inline-block;
}

.user1{
    width: 38px;
    height: 38px;
    background-position: 0px 0px;
}
.pwd1{
    width: 38px;
    height: 38px;
    background-position: -48px 0px;
}
.logo_from_middle_l{
     display: none;
}
.er{
    width: 306px;
    padding: 0px 20px;
    text-align: center;
}
.jd{
    margin: 0 auto;
    width: 190px;
    margin-bottom: 20px;
    font-size: 14px;
}
.jd a{
    color: #e4393c;
}
.mka{
    width: 276px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.w{
    position: relative;
    top: -5px;
    padding: 0 10px;
    color: #999;
    font-size: 14px;
}
.qr{
    background-image: url("../img/img_login/qr.png");
    display: inline-block;
}
.m{
    width: 26px;
    height: 25px;
    background-position: 0 0;
}
.k{
    width: 26px;
    height: 25px;
    background-position: -27px 0;
}
.a{
    width: 26px;
    height: 25px;
    background-position: -53px 0;
}
.er img{
    padding: 10px;
    border: 1px solid #f4f4f4;
    vertical-align: middle;
    margin: 20px 0;
}
.logo_from_middle_r{
}
.logo_from_middle_r form{
    margin: 33px 20px;
}
.logo_from_middle_r form span{
    border:1px solid #bdbdbd;
    float: left;
    position:absolute;
    z-index: 2;

}
.login_input{
    width: 254px;
    height: 18px;
    padding: 10px 0 10px 50px;
    font-size: 14px;
    border:1px solid #bdbdbd;
    border-left: none;
    position:relative;
    z-index: 0;
    outline: none;

}
.logo_from_i{
    margin-bottom: 20px;
}
.logo_from_middle_r a{
    float: right;
    color: #666;
    font-size: 12px;
    padding-bottom: 20px;
}
.logo_from_middle_r a:hover{
    color: #E4393C;
    text-decoration: underline;
}
.logo_from_btn{
    border: 1px solid #e85356;
    display: block;
    width: 312px;
    background: #e4393c;
    height: 31px;
    line-height: 31px;
    color: #fff;
    font-size: 20px;
    font-family: 'Microsoft YaHei';
}
.links{
    text-align: center;
    width: 990px;
    margin-bottom: 20px;
}
.links a{
    font-size: 12px;
    padding: 0 10px;
    color: #666;
    cursor: auto;
    border-right: 1px solid #666;
}
.links a:first-child{
    padding-left:0 ;
}
.links a:last-child{
    border-right: none;
    padding-right: 0;
}
.links a:hover{
    color: #E4393C;
    text-decoration: underline;
}
.Copyright{
    width: 990px;
    margin: 0 auto;
    text-align: center;
    color: #666666;
    font-size: 12px;

}
